$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$backgroundColor: #F6F6F6;
$backgroundColorDarker: #F8F8F8;
$orange: #f28b00;
$orangeLight: #F5A623;
$font: 'proxima-nova', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$fontColor: #828282;
$secondaryFontColor: white;
$grey: #333333;
$button: #00A5B5;


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-size: 1rem;
    font-weight: 300;
}
* {
  font-family: $font;
}

.body {
  margin: 0 auto;
  padding: 0;
}
.container {
  margin: 0px;
  padding: 0px;
}
.mainBanner {
  margin-top: 400px;
}
.mainHeader {
  background: linear-gradient(to bottom,rgba(0, 47, 75, 0.60),#f6f6f6), url(../images/gFoundation-header-gradient.png) center center / cover;
  //** background:url(../images/gFoundation-header-gradient.png); **//
  background-size:cover;
  min-height: 1500px;
  text-align: center;
}
.gButton {
  background-color: $button;
  color: $secondaryFontColor;
  width: 100px;
  margin-top: 100px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 1px;
  padding: 0 1.4rem;
  line-height: 2.5rem;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}
.section {
  padding: 20px;
  background-color: $backgroundColor;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: $fontColor;
}

p.about {
  padding-right: 20px
}

.about {
  background-color: white;
  margin-top: 600px;
  text-align: left;
  -webkit-box-shadow: 0px 0px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.mission {
  padding-top: 37.5rem;
  padding-bottom: 2.85rem;
}

.grey {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.white {
  padding-top: 50px;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
}
.img-circle {
  width: 100px;
  height: auto;
}
.fund {
  background-color: $backgroundColor;
  padding-top: 100px;
}
.fund img {
  text-align: center;
  margin: 5px;
}
.studentRow {
  padding: 10px 10px;
}
.studentRow img {
  margin: 10 auto;
}
.stories {
  background-color: $grey;
  min-height: 200px;
  color: $secondaryFontColor;
  border: none;
}
.data {
  background-color: $grey;
  min-height: 300px;
  color: $secondaryFontColor;
  border: none;
}
.data img {
  width: 300px;
}
.scholarships {
  background-color: white;
}
.scholarships img {
  padding-top: 5px;
}

.footer {
  padding: 100px 10px 20px 10px;
  border-top: 1px solid #e5e5e5;
  background-color: $orangeLight;
  color: $secondaryFontColor;
  border: none;
}
.btn-custom {
  margin-top: 10px;
  width: 100px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 1px 1px $orange;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 1px 1px $orange;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 1px 1px $orange;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/*------------------------------------*\
   #HEADINGS
\*------------------------------------*/
h1, h2, h3, h4, h5 {
  font-family: "museo-sans","Helvetica","Roboto","Arial",sans-serif;}
/**
* Heading 1
*/
h1 {
  font-weight: 300;
  font-size: 2.986rem;
  line-height: 1.2;
  margin: 1.2rem 0;}
/**
* Heading 2
*/
h2 {
  font-weight: 300;
  font-size: 2.488rem;
  line-height: 1.2;
  margin: 1.2rem 0;}
/**
* Heading 3
*/
h3 {
  font-weight: 300;
  font-size: 2.074rem;
  line-height: 1.2;
  margin: 1.2rem 0;}
/**
* Heading 4
*/
h4 {
  font-weight: 300;
  font-size: 1.2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.0625em;}
/**
* Heading 5
*/
h5 {
  font-weight: 500;
  font-size: 0.833rem;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.0625em;}
/**
* Subheading
*/
.subheading {
  font-family: "proxima-nova","Helvetica","Roboto","Arial",sans-serif;
  font-weight: normal;}


/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
//
//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }
//
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
